.rowMovies{
    color: #fff;
    padding: 1rem;
}
.rowList{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
}
.rowList::-webkit-scrollbar{
    display: none;
}

.rowImg{
    height: 250px;
    width: 250px;
    margin-top: 1rem;
    margin-left: 1rem;
}