.navbar{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 1rem;
    position: fixed;
    width: 100%;
    z-index: 99;
}