.banner{
    height: 500px;
    padding-top: 2rem;
    color: #fff;
    display: flex;
    justify-content: baseline;
    align-items: center;
    background-size: cover;
}

.content{
    padding-left: 2rem;
}

.description{
    width: 450px;
    line-height: 1.5;
}
.btn{
    width: 100px;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.20);
    color: #fff;
    border: 1px solid #fff;
}